<table class="profile" summary="Profile information">
  <tr>
    <td class="main">

      <%= render 'shared/ride_calendar' %>

      <% if current_user?(@user) %>
        <%= form_for @user do |f| %>
          <%= f.label "Use Metric Units" %>
          <%= check_box("user", "use_metric_units") %>
          <%= f.submit %>
        <% end %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Rides</strong> <%= @user.rides.count %><br />
      <% if @user.rides.any? %>
        <%= link_to "All My Rides", rides_path + "?" + "user_id=#{@user.id}"%>
      <% end %>

      <% if current_user?(@user) %>
        <%= render 'shared/update_rides' %>
      <% end %>
  </td>
</tr>
</table>

