<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
        <%= render 'shared/update_rides' %>
      </h1>
      <% if @user.rides.any? %>
        <table class="rides" summary="Rides:">
          <%= render @rides %>
        </table>
        <%= will_paginate @rides%>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Rides</strong> <%= @user.rides.count %>
    </td>
  </tr>
</table>

