<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <%= calendar_for @rides, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :recorded) do |date,rides| %>
      <%= date.day %>
      <ul>
        <% for ride in rides%>
          <li><%= link_to h(number_to_human(total_distance(ride))), ride%> <%= km_units %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

