<%= form_for(@strava_team) do |f| %>
  <% if @strava_team.errors.any? %>
    <div id="error_explanation">
    <h2>Searched for <%= "\"#{params[:strava_team][:team_name]}\" but " + pluralize(@strava_team.errors.count, "error") %> prohibited a team from being created:</h2>

      <ul>
      <% @strava_team.errors.each_with_index do |msg, i| %>
        <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name %><br />
    <%= f.text_field :team_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
