<table class="ride" cellpadding="10">

<tr>
  <td>
  <div class="ft_map" ft_id="<%= ride.fusiontable_id %>" 
    lat="<%=ride.centroid_lat%>" lon="<%=ride.centroid_lon%>" sw_lat="<%=ride.bb_sw_lat%>" sw_lon="<%=ride.bb_sw_lon%>" ne_lat="<%=ride.bb_ne_lat%>" ne_lon="<%=ride.bb_ne_lon%>"></div>
  </td>
  <td>
    <%= link_to ride.fusiontable_id, ride %>
  </td>
</tr>


</table>
