<table class="ride" >
<tr>
  <td>
    <b><%= ride.recorded.getlocal.to_s(:ride_time) %></b>
    <%  uri = URI::HTTPS.build({:host => "www.google.com", :path => "/fusiontables/DataSource", :query => "dsrcid=#{ride.fusiontable_id}" }).to_s %>
    <%= link_to "(link)", uri %>
  <div class="ft_map" ft_id="<%= ride.fusiontable_id %>" 
    lat="<%=ride.centroid_lat%>" lon="<%=ride.centroid_lon%>" sw_lat="<%=ride.bb_sw_lat%>" sw_lon="<%=ride.bb_sw_lon%>" ne_lat="<%=ride.bb_ne_lat%>" ne_lon="<%=ride.bb_ne_lon%>"></div>
  </td>
  <td class="notes">
    <% if !current_user.nil? and (current_user.id == ride.user_id) %>
      <%= form_for ride  do |f| %>
        <%= f.label :description, "Public notes:" %><br/>
        <%= f.text_area :description, :class  => 'public_notes' %><br/>
        <%= f.label :private_description, "Private notes:" %><br/>
        <%= f.text_area :private_description, :class => 'private_notes' %><br/>
        <%= f.submit :value => "Save", :method => :put %>
      <% end %>
    <% else %>
      <%= text_area_tag "description", ride.description, :class  => 'public_notes_readonly', :readonly => true %>
    <% end %>
  </td>
  <td class="ride-stats" >
    <table class="ride-stats">
      <tr>
        <td class="stat-label">Total distance</td>
        <td class="stat-value"><%= number_with_precision(total_distance(ride), :significant => true) %></td>
        <td class="stat-units"><%=km_units%></td> 
      </tr>
      <tr>
        <td class="stat-label">Moving time</td>
        <td class="stat-value"><%= number_with_precision(moving_time_hm(ride), :significant => true)%></td>
        <td class="stat-units">hr:min</td>
      </tr>
      <tr>
        <td class="stat-label">Avg speed</td>
        <td class="stat-value"><%= number_with_precision(avg_moving_speed(ride), :significant => true) %></td>
        <td class="stat-units"><%=speed_units%></td> 
      </tr>
      <tr>
        <td class="stat-label">Max speed</td>
        <td class="stat-value"><%= number_with_precision(max_speed(ride), :significant => true) %></td>
        <td class="stat-units"><%=speed_units%></td> 
      </tr>
      <tr>
        <td class="stat-label">Elevation gain</td>
        <td class="stat-value"><%= number_with_precision(elevation_gain(ride), :significant => true) %></td>
        <td class="stat-units"> <%= m_units %> </td> 
      </tr>
    </table>
    <% if !current_user.nil? and (current_user.id == ride.user_id) %>
      <%= button_to "Delete Ride", { :action => 'destroy', :id => ride.id}, :method => :delete %>
    <% end %>
  </td>
</tr>


</table>
