<!DOCTYPE html>
<html>
  <head>
    <title>BikeRides2</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "http://maps.googleapis.com/maps/api/js?sensor=false"%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="user_nav">
      <% if current_user %>
        Welcome <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_hybrid" %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
